.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; */
  /* padding: 6rem; */
  /* min-height: 100vh; */
}

.card {
  /* height: 400px; */
}

.dropdown {
  position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(897px, 5637px, 0px);
}